$font-size: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red;
.hello-world-btn {
  font-size: 20px;
  padding: 7px 15px;
  background: green;
}
.hello-world-text {
  color: $text-font-color;
  font-weight: bold;
}
