$font-size: 20px;
$button-background-color: green;
$button-font-color: white;

.hellow-world-btn {
  font-size: 20px;
  padding: 7px 15px;
  background: green;
}
.hello-world-text {
  color: green;
  font-weight: bold;
}
