<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.description}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
</head>

<body>
</body>

</html>